/*CSS: таблица стилей хранилища DUBO. Версия: 0.0.1*/
/*=========================================================================================================================*/

/*Чёрный фон всей страницы.*/
body.System {
    background-color: black;
}

/*Размеры таблицы и её положение.*/
table.System {
    width: 100%;
    margin: auto;
    border: 4px double #FF4500;
}

/*Верхняя колонка таблицы сайта.*/
th.System {
    text-align: center;
}

/*Ячейки таблицы сайта.*/
td.System {
    border-top: 2px dashed #FF4500;
}

/*Стиль изображений главной страницы сайта.*/
img.System {
    width: 100%;
}

/*Заголовок первого уровня.*/
h1.System {
    color: #4682B4;
    font-size: 72px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "FontOne";
    letter-spacing: 5px;
    cursor: default;
}

/*Заголовок второго уровня для названия папок.*/
h2.System {
    font-size: 30px;
    text-align: center;
    color: #228B22;
    margin: 0;
    cursor: default;
}

/*Заголовок третьего уровня для индикатора свободного пространства.*/
h3.System {
    font-size: 20px;
    text-align: center;
    color: #DC143C;
    margin: 0;
    cursor: default;
}

/*Ссылки на папки хостинга.*/
a.System {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman';
    font-size: 18px;
}

/*Подсвечивание системных ссылок при наведении курсора.*/
a:hover.System {
    color: deeppink;
}

/*Ссылка для навигации по сайту.*/
a.Navigate {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman';
    font-size: 30px;
}

/*Подсвечивание системных ссылок при наведении курсора.*/
a:hover.Navigate {
    color: deeppink;
}

/*Маркировка списка папок.*/
ul.System {
    margin: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 30px;
    color: white;
}

/*Убирает выделение текста в спойлере.*/
details {
    text-align: left;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 12px;
    color: white;
    text-align: justify;
    font-size: 18px;
    -moz-user-select: none; /* Firefox*/
      -ms-user-select: none; /* Internet Explorer*/
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror)*/
  -webkit-user-select: none; /* Chrome, Safari, and Opera*/
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

/*Убирает обводку спойлера.*/
summary {
    outline: none;
}

/*Основной текст сайта.*/
p {
    margin-bottom: 0px;
    margin-top: 0px;
    color: #228B22;
    text-align: justify;
    font-size: 18px;
    cursor: default;
}

/*Ячейки графических ресурсов.*/
/*=========================================================================================================================*/

h4.File {
    font-size: 30px;
    text-align: center;
    color: #228B22;
    margin: 0;
    cursor: default;
}

td.Common {
    text-align: center;
    border-top: 2px dashed #FF4500;
}

table.Picture {
    width: 100%;
    border-spacing: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

tr.Picture {
    width: 100%;
    
}

td.Picture {
    width: 10%;
    height: 200px;
    border: 2px solid #808080;
    margin-bottom: 0;
    padding-bottom: 0;
}

td.Options {
    margin-top: 0;
    padding-top: 0;
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;
    height: 50px;
}

img.Picture {
    max-height: 100%;
    max-width: 100%;
}

button.Options {
    text-align: center;
    cursor: pointer;
}

img.File {
    max-height: 100%;
    max-width: 100%;
}

/*Файловые строки.*/
/*=========================================================================================================================*/

p.File {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
    color: #228B22;
    text-align: justify;
    font-size: 18px;
    cursor: default;
}

span.File {
    margin-bottom: 0px;
    margin-top: 0px;
    color: yellow;
    font-weight: bold;
    text-align: justify;
    font-size: 18px;
    cursor: default;
}

table.File {
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
}

tr.File {
    width: 100%;
}

td.FileIcon {
    border: 1px solid #FF4500;
    width: 5%;
    height: 50px;
    text-align: center;
}

td.FileDescription {
    border: 1px solid #FF4500;
    width: 45%;
    height: 50px;
}

td.EmptyIcon {
    width: 5%;
    height: 50px;
    text-align: center;
}

td.EmptyDescription {
    width: 45%;
    height: 50px;
}

img.FileIcon {
    max-height: 100%;
    max-width: 100%;
}

a:hover.File {
    color: dodgerblue;
}

/*Ссылки на папки хостинга.*/
a.File {
    text-decoration: underline;
    color: white;
    font-family: 'Times New Roman';
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
}

/*Подключаемые шрифты.*/
/*=========================================================================================================================*/
@font-face {
    font-family: "FontOne"; 
    src: url("System/FontOne.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 