body {
    margin: 5px;
}

table {
    width: 100%;
    border: 3px solid;
}

th {
    color: black;
    padding: 3px;
    text-align: left;
    border-bottom: 1.5px solid black;
    background-color: wheat;
}

th:not(:nth-child(1)) {
    border-left: 2px solid black;
    text-align: center;
}

tr {
    margin: 0;
    padding: 0;
    z-index: 999;
}

tr:hover {
    background-color: aquamarine;
}

td.First {
    border-bottom: 1px solid grey;
}

td.Secon {
    border-bottom: 1px solid grey;
    border-left: 2px solid black;
    width: 15%;
    text-align: center;
}

td.Third {
    border-bottom: 1px solid grey;
    border-left: 2px solid black;
    width: 15%;
    text-align: center;
}

a {
    color: blue;
    font-size: 18px;
    margin: 1px 3px 1px 3px;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
}

a.und {
    color: red;
}

tr:nth-child(odd) { background-color: #EAF2D3; }

tr:nth-child(odd):hover {
    background-color: aquamarine;
}